name: Sync to Hugging Face Space

on:
  push:
    branches: [ "main" ]

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Push to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_OWNER: mansour12120
          HF_SPACE: justRepo
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"

          # Add Hugging Face as remote (token used as password)
          git remote add hf https://$HF_OWNER:$HF_TOKEN@huggingface.co/spaces/$HF_OWNER/$HF_SPACE

          # Push main -> main on the Space
          git push hf main --force